%title-font {
  font-size: 64px;
  line-height: 74px;
  text-transform: uppercase;
  @media (max-width: 1100px) {
    font-size: 54px;
    line-height: 59px;
  }
  @media (max-width: 767px) {
    font-size: 37px;
    line-height: 36px;
  }
  @media (max-width: 574px) {
    font-size: 24px;
    line-height: 28px;
  }
}
%product-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 55px;
}