.course {
  background: url('../../images/bg-generator.jpg') /* center (center/cover) no-repeat */;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 300px 0 190px;

  &__subtitle {
    text-align: center;
    font-size: 38px;
    line-height: 44px;
    margin-bottom: 164px;
  }

  &__title {
    text-align: center;
    font-weight: 700;
    font-size: 96px;
    line-height: 110px;
    margin-bottom: 57px;
    @media (max-width: 991px) {
    }
    @media (max-width: 767px) {

    }
    @media (max-width: 574px) {
      
    }
  }

  &__btn {
    display: block;
    width: 350px;
    text-align: center;
    margin: 60px auto 0;
    padding: 35px 0 35px;
    font-weight: 700;
    font-size: 36px;
    line-height: 41px;
    border: none;
    color: #FFFFFF;
    background: #FF8562;
    border-radius: 15px;
  }
}
.course--live {
  background: url('../../images/bg-live.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.course--product {
  background: url('../../images/bg-product.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.course-info {
  padding: 156px 0 182px;
  &__items {
    margin-top: 193px;
    display: flex;
    justify-content: center;
  }
  &__items-item {
    max-width: 366px;
    margin: 0 32px;
  }
  &__items-img {
    margin: 0 auto;
  }
  &__items-text {
    text-align: center;
    font-size: 32px;
    line-height: 37px;
    margin-top: 34px;
  }
}
.course-spiker {
  padding: 130px 0;
  background-color: #F7F3ED;
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__wrapper--live {
    align-items: center;
  }
  &__info {
    max-width: 844px;
  }

  &__info-title {
    @extend %title-font;
    margin-bottom: 50px;
  }

  &__info-text {
    margin-bottom: 192px;
  }
  &__info-text--live {
    margin-bottom: 0;
  }

/*   &__img {
    object-fit: cover;
  } */
}
.course-students {
  padding: 113px 0 223px;

  &__title {
    @extend %title-font;
    margin-bottom: 92px;
  }
}
.course-value {
  padding: 100px 0 90px;
  background-color: #F7F3ED;
  &__title {
    @extend %title-font;
    margin-bottom: 79px;
  }

  &__btn {
    display: block;
    width: 306px;
    text-align: center;
    margin: 0 auto;
    margin-top: 47px;
    padding: 25px 0 25px;
    font-weight: 700;
    font-size: 32px;
    line-height: 37px;
    border: none;
    color: #fff;
    background: #ff8562;
    border-radius: 15px;
    &:hover {
      box-shadow: 0px -2px 12px 4px rgba(0, 0, 0, .3);
    }
  }
}

.course-program {
  padding: 130px 0 44px;
  ul {
    padding-left: 38px;
  }
  &__title {
    @extend %title-font;
    @media (max-width: 991px) {
  
    }
    @media (max-width: 767px) {

    }
    @media (max-width: 574px) {

    }
  }

  &__items {
    padding-left: 38px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width: 767px) {


    }
  }
  &__item {
    margin-top: 70px;
    max-width: 680px;
    display: flex;
    &:last-child {
      max-width: 100%;
    }
  }

  &__item-number {
    flex: 0 0 auto;
    width: 100px;
    height: 100px;
    margin-right: 23px;
    border-radius: 50%;
    text-align: center;
    font-size: 40px;
    line-height: 100px;
    background: #F7F3ED;
    @media (max-width: 574px) {

    }
  }

  &__item-text {

    @media (max-width: 574px) {

    }
  }
  &__item-link {
    text-decoration-line: underline;
  }
}
.course-format {
  padding: 130px 0 165px;
  background: #F7F3ED;
  @media (max-width: 574px) {
  
  }
  &__title {
    @extend %title-font;
    margin-bottom: 90px;
    text-transform: uppercase;
    @media (max-width: 574px) {
    }
  }
  &__text {
    @media (max-width: 574px) {

    }
  }
  &__item {
    display: flex;
    padding: 0 80px 0 120px;
  }
  &__item+
  &__item {
    margin-top: 60px;
  }
  &__item-img {
    margin-right: 35px;
  }
  &__item-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 46px;
  }
}
.course-format--live {
  background: none;
  padding: 130px 0 0;
}
.payment {
  padding: 100px 0;
  &__text {
    font-size: 40px;
    line-height: 46px;
    text-align: center;
  }

  &__line {
    width: 386px;
    border: none;
    border-bottom: 1px solid rgba(255, 133, 98, 0.75);
    margin: 130px auto;
  }
  &__line--live {
    margin: 95px auto;
  }
}
.payment--live {
  padding: 100px 0 73px;
}
.tariffs {
  padding: 54px 0 51px;
  background: #f7f3ed;
  &__title {
    @extend %title-font;
    margin-bottom: 21px;
    text-transform: uppercase;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__wrapper--live {
    justify-content: center;
  }
  &__item {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 686px;
    height: 917px;
    padding: 45px 26px 68px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    filter: drop-shadow(0px 4px 25px rgba(0, 0, 0, 0.25));
    border-radius: 15px;
    &:hover {
      box-shadow: 0px 4px 25px 3px rgba(0, 0, 0, 0.25);
    }
  }
  &__item--live {
    margin-top: 44px;
  }
  &__item-title {
    text-align: center;
    font-size: 48px;
    line-height: 55px;
  }
  ul {
    list-style: disc;
  }
  &__item-item {
    margin-left: 40px;
    font-size: 34px;
    line-height: 39px;
    margin-top: 30px;
  }
  &__price-new {
    font-weight: 700;
    font-size: 48px;
    line-height: 55px;
    text-align: center;
  }
  &__button {
    margin-top: 27px;
    display: flex;
    justify-content: center;
  }
  &__button-btn {
    display: block;
    width: 306px;
    text-align: center;
    margin: 0 auto;
    padding: 25px 0 25px;
    font-weight: 700;
    font-size: 32px;
    line-height: 37px;
    border: none;
    color: #fff;
    background: #ff8562;
    border-radius: 15px;
    &:hover {
      box-shadow: 0px -2px 12px 4px rgba(0, 0, 0, .3);
    }
  }
  &__button-btn--blue {
    background: #7BA7FC;
  }
}
.tariffs--live {
  padding: 90px 0;
}
.course-review {
  padding: 63px 0 52px;

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 65px 100px 57px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    filter: drop-shadow(0px 4px 25px rgba(0, 0, 0, 0.25));
    border-radius: 15px;
    margin-bottom: 82px;
  }

  &__item-title {
    font-size: 48px;
    line-height: 55px;
  }

  &__item-info {
    font-size: 34px;
    line-height: 39px;
  }

  &__price {
    font-weight: 700;
    font-size: 48px;
    line-height: 55px;
    text-align: center;
  }

  &__button-btn {
    display: block;
    width: 306px;
    text-align: center;
    margin: 0 auto;
    padding: 25px 0 25px;
    font-weight: 700;
    font-size: 32px;
    line-height: 37px;
    border: none;
    color: #fff;
    background: #ff8562;
    border-radius: 15px;
    &:hover {
      box-shadow: 0px -2px 12px 4px rgba(0, 0, 0, .3);
    }
  }
  &__slider-text {
    padding: 0 30px;
  }
  &__slider-arrow {
    background: transparent;
    border: none;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
  }
  &__slider-arrowleft {
    left: -70px;
  }
  &__slider-arrowright {
    right: -70px;
  }
}
